<h1 class="main title">Orders</h1>
<div class="container">
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-sm-12 col-md-4">
        <h3>
          Order No. <%= order.id %><br>
          <div class="order-name">
            <%= link_to order.product.name, order.product %>    
          </div>
        </h3>
        <p>Total: <%= order.total %> CHF</p>
      </div>
    <% end %>
  </div>
  <%= will_paginate @orders %>
</div>